.cal{
	max-width:95%;
  font-weight: 300;
}

.cal-day{
	color:#ed7950;
}

.cal-hour{
  font-family: 'ArameMonoRegular', sans-serif;
	color:#ed7950;
	font-size: 30;
	font-weight: 500;
	padding-bottom: 5px;
}

.cal-hour{

}

.navbar{
	background: #ffffff;
}

.cal-event{
  margin-bottom: 15px;
  background-color: #ccc;
  padding: 5px;
  height: 60px;
}

.cal-event:hover{
  background-color: #ed7950;
  color: #eee;
}

.cal-day b{
  color: #333;
}
