@import url("sections/home.css");
@import url("sections/calendar.css");
@import url("sections/activities.css");
@import url("sections/sponsors.css");
@import url("sections/about.css");
@import url("sections/maps.css");

@font-face {font-family:"ArameMonoBold";src:url("../fonts/ArameMonoBold.eot?") format("eot"),url("../fonts/ArameMonoBold.woff") format("woff"),url("../fonts/ArameMonoBold.ttf") format("truetype"),url("../fonts/ArameMonoBold.svg#ArameMonoBold") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"ArameMonoRegular";src:url("../fonts/ArameMonoRegular.eot?") format("eot"),url("../fonts/ArameMonoRegular.woff") format("woff"),url("../fonts/ArameMonoRegular.ttf") format("truetype"),url("../fonts/ArameMonoRegular.svg#ArameMonoRegular") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"ArameMonoThin";src:url("../fonts/ArameMonoThin.eot?") format("eot"),url("../fonts/ArameMonoThin.woff") format("woff"),url("../fonts/ArameMonoThin.ttf") format("truetype"),url("../fonts/ArameMonoThin.svg#ArameMonoThin") format("svg");font-weight:normal;font-style:normal;}

body{
  font-family: 'ArameMonoThin', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'ArameMonoThin', sans-serif;
}

.wrapper{
  height:100%;
  width: 100%;
}

h1{
  text-align: center;
  font-size: 40px;
  margin: 30px 0 30px 0;
  font-weight: 900;
}

section{
  height:100%;
  width: 100%;
  display: table;
}

.slide-down{
  background-image: url("../img/down.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  left: 50%;
}

.sd-dark{
  background-image: url("../img/down-dark.png");
}

.grey a{
  color: #333;
}
