@font-face {font-family:"ArameMonoBold";src:url("../fonts/ArameMonoBold.eot?") format("eot"),url("../fonts/ArameMonoBold.woff") format("woff"),url("../fonts/ArameMonoBold.ttf") format("truetype"),url("../fonts/ArameMonoBold.svg#ArameMonoBold") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"ArameMonoRegular";src:url("../fonts/ArameMonoRegular.eot?") format("eot"),url("../fonts/ArameMonoRegular.woff") format("woff"),url("../fonts/ArameMonoRegular.ttf") format("truetype"),url("../fonts/ArameMonoRegular.svg#ArameMonoRegular") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"ArameMonoThin";src:url("../fonts/ArameMonoThin.eot?") format("eot"),url("../fonts/ArameMonoThin.woff") format("woff"),url("../fonts/ArameMonoThin.ttf") format("truetype"),url("../fonts/ArameMonoThin.svg#ArameMonoThin") format("svg");font-weight:normal;font-style:normal;}

body{
  font-family: 'ArameMonoThin', sans-serif;
}

h1, h2{
  font-family: 'ArameMonoRegular', sans-serif;
}

h3, h4, h5, h6{
  font-family: 'ArameMonoThin', sans-serif;
}

.wrapper{
  height:100%;
  width: 100%;
}

h1{
  font-weight: 900;
}

section{
  height:100%;
  width: 100%;
  display: table;
}

section.home{
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: right;
}

@media only screen and (max-width: 320px) {

  section.home{
    background: #beb7a5;
  }
}

section.home h1{
  font-weight: normal;
  font-size: 7em;
  color: #eee;
}

section.home strong{
  margin-left: 20px;
  font-weight: normal;
  color: #ed7950;
}

section.home h4{
  color: #eee;
  font-size: 25px;
}

section.home .logos{
  margin-top: -28px;
  margin-left: 5px;
}

section.home .logos img{
  width: 25px;
}

section.home .organized_by img{
  margin-top: 10%;
  width: 300px;
}

section.home .dalei{
  margin-top: -70px;
}

section.home .di{
  margin-top: -20px;
  color: #333;
}

section.home .date{
  margin-top: -10px;
}

section.calendar{
  background-color: #eee;
}

section.calendar h1{
  text-align: center;
  font-size: 35px;
  color: #333;
  margin: 20px;
}

.slide-down{
  background-image: url("../img/down.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  left: 50%;
}

.sd-dark{
  background-image: url("../img/down-dark.png");
}
