@font-face {font-family:"StaticBold";src:url("../fonts/Static_Bold.eot?") format("eot"),url("../fonts/Static_Bold.woff") format("woff"),url("../fonts/Static_Bold.ttf") format("truetype"),url("../fonts/Static_Bold.svg#StaticBold") format("svg");font-weight:normal;font-style:normal;}


body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  height:100%;
  width: 100%;
}

section{
  height:100%;
  width: 100%;
}

section.home{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

section.home h1{
  font-weight: 900;
  color: #eee;
  font-size: 110px;
}

section.home strong{
  color: #333;
}

section.home h3{
  color: #eee;
  font-weight: 100;
  font-size: 40px;
}

.logos{
  margin-top: 20px;
}

.logos img{
  height: 30px;
  margin: 2px;
}

.organized_by img{
  margin-top: 50px;
  width: 300px;
}

.top-bar{
  border-bottom: 1px solid #000;
  height: 60px;
}

.slide-down{
  width: 50px;
  position: fixed;
  bottom: 30px;
}
