@font-face {font-family:"StaticBold";src:url("../fonts/Static_Bold.eot?") format("eot"),url("../fonts/Static_Bold.woff") format("woff"),url("../fonts/Static_Bold.ttf") format("truetype"),url("../fonts/Static_Bold.svg#StaticBold") format("svg");font-weight:normal;font-style:normal;}


body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  height:100%;
  width: 100%;
}

h1{
  font-weight: 900;
}

section{
  height:100%;
  width: 100%;
}

section.home{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

section.home h1{
  font-size: 110px;
  color: #eee;
}

section.home strong{
  color: #ed7950;
}

section.home h3{
  color: #eee;
  font-weight: 200;
  font-size: 40px;
}

section.home .logos{
  margin-top: 20px;
}

section.home .logos img{
  height: 30px;
  margin: 2px;
}

section.home .organized_by img{
  margin-top: 50px;
  width: 300px;
}

section.calendar{
  background-color: #eee;
}

section.calendar h1{
  text-align: center;
  font-size: 50px;
  color: #333;
  margin: 30px;
}

.slide-down{
  background-image: url("../img/down.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  left: 50%;
}

.sd-dark{
  background-image: url("../img/down-dark.png");
}
