section.dark-grey{
  background-color: #333
}

section.dark-grey h1, h2{
  text-align: center;
  color: #eee;
}

section.orange{
  background-color: #ed7950;
}

section.orange h1{
  color: #eee;
}

section.orange strong{
  color: #333;
}

section.grey{
  background-color: #eee
}

section.grey h1, h2{
  color: #ed7950;
}

section.grey strong{
  color: #333;
}

section.orange .activity{
  background-color: #eee;
}

section.grey .activity{
  background-color: #ed7950;
}

section.orange .activity h5{
  color: #ed7950;
}

section.grey .activity h5{
  color: #333;
}

section.grey .activity h3{
  color: #eee;
}

section.grey .activity{
  color: #eee;
}

section.orange .activity .act-details{
  color: #ed7950;
}

section.grey .activity .act-details{
  color: #333;
}

.activity{
  font-weight: 100;
  padding: 15px;
  display: table;
  margin-bottom: 30px;
  width: 100%;
}

.activity h3{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.activity h5{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -20px;
}

.activity p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.activity .applications{
  float: right;
}

.grey .activity .applications{
  color: #333;
}

.activity .act-details{
  font-family: 'ArameMonoThin', sans-serif;
  display: table;
  width: 100%;
}

.activity .act-details .act-hour{
  float: left;
}

.activity .act-details .act-label{
  float: right;
}

.activity .media{
  margin-top: 10px;
}

.act-coffeebreak{
  background-color: #333;
  height: 50px;
}

.act-coffeebreak h3{
  color: #eee;
}

.partners img{

}
