section.calendar{
  background-color: #eee;
}

section.calendar h1{
  color: #333;
}

.cal{
  max-width:95%;
  font-weight: 300;
}

.cal-day{
  color:#ed7950;
  font-size: 17px;
}

.cal-details{
  font-family: 'ArameMonoRegular', sans-serif;
  color:#333;
  font-size: 30;
  font-weight: 500;
  padding-bottom: 5px;
  display: table;
  width: 100%;
}

.cal-hour{
  float: left;
  font-size: 13px;
}

.cal-label{
  float: right;
  color:#ed7950;
  font-size: 11px;
}

.cal-speaker{
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 6px;
}

.cal-subject{
  margin-bottom: 6px;
}

.cal-event{
  font-family: 'Lato', sans-serif;
  margin-bottom: 15px;
  background-color: rgba(190, 183, 165, 0.15);
  color: #333;
  padding: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.cal-event:hover{
  background-color: #ed7950;
  color: #eee;
}

.coffeebreak{
  background-color: #ed7950;
  margin-bottom: 10px;
  color: #eee;
}

.coffeebreak .cal-label{
  color: #eee;
  margin-right: 5px;
}


.cal-day b{
  color: #333;
}
