section.home{
  background: url(../../img/background.jpg);
  background-size: cover;
  background-position: center;
}

section.home h1{
  font-family: 'ArameMonoRegular', sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 8em;
  color: #eee;
}

section.home strong{
  margin-left: 20px;
  font-weight: normal;
  color: #ed7950;
}

section.home h4{
  color: #eee;
  font-size: 25px;
}

section.home .infos{
  margin-left: 5%;
  margin-top: 3%;
}

section.home .logos{
  margin-top: -28px;
  margin-left: 5px;
}

section.home .logos img{
  width: 25px;
}

section.home .organized_by img{
  margin-top: 3%;
  width: 300px;
}

section.home .dalei{
  margin-top: -70px;
}

section.home .di{
  margin-top: -20px;
  color: #333;
}

section.home .date{
  margin-top: -10px;
}
